.user-card {
  height: 450px;
  width: 300px;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: 0.7s all linear;
  cursor: pointer;
}
.user-card:hover {
  transform: scale(1.1);
}
.user-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.user-type {
  text-align: center;
  text-transform: capitalize;
  color: gray;
}
.user-link {
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
}
.user-link a {
  text-decoration: none;
  color: black;
}
